/* =========================================================
   GLOBAL CONTENT WRAPPER
========================================================= */

.page-wrapper {
    padding: 2rem;
    font-family: "Varela Round", sans-serif;
}
/* Page Header */
.page-header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}
    body { background:#fbf9f3; }

    .delete-wrapper {
        background: #fff;
    padding: 2rem;
    border-radius: 14px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    }

    .delete-title {
        font-size: 2rem;
        font-weight: 700;
        color: #b30000;
        margin-bottom: 24px;
        display: flex;
        align-items: center;
        gap: 12px;
    }
    .delete-title i {
        font-size: 32px;
        color:#c60000;
    }

    .confirm-question {
        font-size: 24px;
        margin-bottom: 8px;
        margin-top: 0;
        color: #b30000;
        font-weight: 800;
    }

    .small-text {
        font-size: 16px;
        color:#000000;
        margin-bottom:16px;
        margin-top: 16px;
    }

    .pillar-box {
        padding: 15px 20px;
        background:#fdf2f2;
        border-left: 6px solid #c60000;
        border-radius: 8px;
        margin-bottom: 25px;
        display:flex;
        align-items:center;
        gap:12px;
    }

    .pillar-name {
        font-size: 22px;
        font-weight: 700;
        color:#222;
    }

    .warning-text {
        color:#a60000;
        font-size: 15px;
        margin-bottom: 25px;
        font-weight:600;
    }
    .btn{
        font-family: "Varela Round", sans-serif;
    margin-top: 1.5rem;
    display: flex;
    gap: 15px;
    display: flex;
    justify-content: space-between;
    }
    .btn-danger {
        font-family: "Varela Round", sans-serif;
        background:#c00000;
        color:#fff;
        border:none;
        padding:13px 28px;
        border-radius:10px;
        font-size:17px;
        cursor:pointer;
        transition:0.2s;
    }
    .btn-danger:hover {
        background:#a00000;
    }

    .btn-cancel {
        background:#e5e5e5;
        padding:13px 25px;
        border-radius:10px;
        font-size:17px;
        text-decoration:none;
        color:#333;
        margin-left:8px;
        transition:0.25s;
    }
    .btn-cancel:hover {
        color:white;
        background: var(--primary-orange);
    }
