/* =========================================================
   GLOBAL CONTENT WRAPPER
========================================================= */

.page-wrapper {
    padding: 2rem;
    font-family: "Times New Roman", serif;
}

/* =========================================================
   PAGE TITLES
========================================================= */

.page-title {
    font-size: 2rem;
    font-weight: 700;
    color: #ff8c00;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.form-card {
        font-family: "Times New Roman", serif;
        background: #fff;
        padding: 2rem;
        border-radius: 14px;
        box-shadow: var(--shadow-md);
        }

        .form-field {
            margin-bottom: 1.3rem;
        }

        label {
            font-family: "Times New Roman", serif;
            font-weight: bold;
            color: #c86a12;
            display: block;
            margin-bottom: 6px;
        }
        input[type="text"]{
            width: 98%;
        }
        select{
            width: 100%;
        }
        input[type="text"],
        select {
            font-family: "Times New Roman", serif;
            padding: 12px;
            border: 1px solid #ddd;
            border-radius: 8px;
            background: #fafafa;
            font-size: 1rem;
        }

        .form-actions {
            font-family: "Times New Roman", serif;
            margin-top: 1.5rem;
            display: flex;
            gap: 10px;
            justify-content: space-between;
            
        }

        .btn-primary {
            font-family: "Times New Roman", serif;
            background: var(--primary-orange);
            color: white;
            padding: 12px 20px;
            border-radius: 8px;
            text-decoration: none;
            border: none;
            font-weight: bold;
            cursor: pointer;
        }
        .btn-primary:hover{
            color:white ;
            background: black;
        }

        .btn-secondary {
            font-family: "Times New Roman", serif;
            background: #eee;
            color: #333;
            padding: 12px 20px;
            border-radius: 8px;
            text-decoration: none;
        }
        .btn-secondary:hover{
            color:white;
            background: var(--primary-orange);
        }