/* =========================================================
   GLOBAL CONTENT WRAPPER
========================================================= */

.page-wrapper {
    padding: 2rem;
    font-family: "Times New Roman", serif;
}
/* Page Header */
.page-header-flex {
    font-family: "Times New Roman", serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}
.delete-box {
    background: #fff;
    padding: 2rem;
    border-radius: 14px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.delete-box h2 {
    margin-top: 0;
    color: #b30000;
    font-weight: 800;
}

.delete-item {
    padding: 1rem;
    background: #faf3f3;
    border-left: 5px solid #b30000;
    border-radius: 8px;
    margin: 1rem 0;
}

.delete-item strong {
    font-size: 1.2rem;
}

.delete-item .cat {
    font-size: 0.9rem;
    color: #555;
    display: inline-block;
    margin-left: 10px;
    background: #fff0e0;
    padding: 3px 8px;
    border-radius: 6px;
}

.error-box {
    background: #ffe4e4;
    padding: 8px 12px;
    border-radius: 6px;
    color: #a00000;
    margin-bottom: 15px;
}

.delete-form {
    font-family: "Times New Roman", serif;
    margin-top: 1.5rem;
    display: flex;
    gap: 15px;
    display: flex;
    justify-content: space-between;
}

.btn-delete-big {
    font-family: "Times New Roman", serif;
    background: #c00000;
    color: #fff;
    padding: 12px 22px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
}

.btn-delete-big:hover {
    background: #a00000;
}
/* Back Button */
.btn-secondary {
    font-family: "Times New Roman", serif;
    background: #eee;
    color: #333;
    padding: 12px 20px;
    border-radius: 8px;
    text-decoration: none;
}
.btn-secondary:hover{
    color:white;
    background: var(--primary-orange);
}