/* =========================================================
   GLOBAL CONTENT WRAPPER
========================================================= */

.page-wrapper {
    padding: 2rem;
    font-family: "Times New Roman", serif;
}
/* Page Header */
.page-header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}

.page-title {
    font-size: 2rem;
    font-weight: 700;
    color: #ff8c00;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.form-card {
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

/* GRID SYSTEM */
.form-grid {
   display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.form-group {
    font-family: "Times New Roman", serif;
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    color: #c86a12;
}

.form-group input,
.form-group textarea {
    width: 93%;
    font-family: "Times New Roman", serif;
    padding: 12px 14px;
    font-size: 0.9rem;
    border-radius: 10px;
    border: 1px solid #ddd;
    background: #fafafa;
    transition: border-color .2s, background .2s;
}
.form-group select{
    width: 100%;
        font-family: "Times New Roman", serif;
    padding: 12px 14px;
    font-size: 0.9rem;
    border-radius: 10px;
    border: 1px solid #ddd;
    background: #fafafa;
    transition: border-color .2s, background .2s;
}
.color {
    width: 100% !important;
    padding: 3px 7px !important;
    border: 1px solid #ddd;
    border-radius: 6px;
    height: 41px !important;
}
.form-group input [type="date" ] {
    width: 100%;
        font-family: "Times New Roman", serif;
    padding: 12px 14px;
    font-size: 0.9rem;
    border-radius: 10px;
    border: 1px solid #ddd;
    background: #fafafa;
    transition: border-color .2s, background .2s;
}
.form-row {
        display: flex;
    gap: 20px;
    justify-content: space-between;
}
.form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.btn-submit {
    font-family: "Times New Roman", serif;
    background: var(--primary-orange);
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    border: none;
    font-size: 14px;
}
.btn-submit:hover{
    color:white;
    background: black;
}

.btn-cancel {
    font-family: "Times New Roman", serif;
    background: #eee;
    color: #333;
    padding: 12px 20px;
    border-radius: 8px;
    text-decoration: none;
}

.btn-cancel:hover {
   color:white;
    background: var(--primary-orange);
}
.icon-picker-input {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    cursor: pointer;
    background: #fff;
    font-size: 15px;
}

.icon-picker-input i {
    font-size: 20px;
    color: #ff8c00;
}

.icon-modal {
    display:none;
    position: fixed;
    top:0; left:0;
    width:100%; height:100%;
    background: rgba(0,0,0,0.4);
    backdrop-filter: blur(2px);
    justify-content:center;
    align-items:center;
    z-index:9999;
}

.icon-modal-content {
    width: 750px;
    background:#fff;
    padding:20px;
    border-radius:12px;
    max-height:80%;
    overflow-y:auto;
}

.icon-modal-header {
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:10px;
}

.close-btn {
    border:none;
    background:none;
    font-size:25px;
    cursor:pointer;
}

#iconSearch {
    width:100%;
    padding:10px;
    border:1px solid #ddd;
    border-radius:8px;
    margin-bottom:15px;
}

.icon-grid {
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    gap:12px;
}

.icon-item {
    display:flex;
    flex-direction:column;
    align-items:center;
    padding:10px;
    border:1px solid #eee;
    border-radius:8px;
    cursor:pointer;
    transition:0.2s;
}

.icon-item:hover {
    background:#f8f8f8;
    border-color:#ff8c00;
}

.icon-item i {
    font-size:22px;
    margin-bottom:8px;
    color:#333;
}

