/* =========================================================
   GLOBAL CONTENT WRAPPER
========================================================= */

.page-wrapper {
    padding: 2rem;
    font-family: "Times New Roman", serif;
}
/* Page Header */
.page-header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}

.page-title {
    font-size: 2rem;
    font-weight: 700;
    color: #ff8c00;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    gap: 12px;
}
.page-header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.table-wrapper {
    background: #fff;
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.08);
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 15px;
}

.styled-table th {
    background: #FFF4E8;
    padding: 14px;
    text-align: left;
}

.styled-table td {
    padding: 14px;
    border-bottom: 1px solid #eee;
}

.no-data {
    text-align: center;
    padding: 30px;
    color: #777;
}

.color-box {
    width: 18px;
    height: 18px;
    border-radius: 6px;
    display: inline-block;
    margin-right: 8px;
    border: 1px solid #ddd;
}

.btn-primary {
    font-family: "Times New Roman", serif;
    background: var(--primary-orange);
    color: white;
    padding: 10px 18px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    border: none;
    padding: 10px 18px;
    font-size: 14px;
}
.btn-primary:hover{
    color:white;
    background: black;
}
.actions a {
    font-family: "Times New Roman", serif;
    padding: 6px 10px;
    border-radius: 8px;
    font-size: 14px;
    text-decoration: none;
    margin-right: 5px;
    transition: .2s;
}
/* ACTION BUTTONS */
.actions {
    display: flex;
    gap: 8px;
}

.action-btn {
    padding: 7px 10px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 0.85rem;
    transition: .2s;
}

.btn-view { font-family: "Times New Roman", serif;background: #fff4e0; color: #ff8c00; }
.btn-view:hover{
    background: #ff8c00;
    color: #fff4e0;
}
.btn-edit { font-family: "Times New Roman", serif;background: #def5e7; color: #1b7f3a; }
.btn-edit:hover{
    color:#def5e7;
    background: #1b7f3a;
}
.btn-delete {font-family: "Times New Roman", serif; background: #ffe4e4; color: #ad1c1c; }
.btn-delete:hover{
    color: #ffe4e4;
    background: #ad1c1c;
}

.action-btn:hover { opacity: 0.85; }