/* =========================================================
   GLOBAL CONTENT WRAPPER
========================================================= */

.page-wrapper {
    padding: 2rem;
    font-family: "Times New Roman", serif;
}
/* Page Header */
.page-header-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}
.page-title {
    font-family: "Times New Roman", serif;
    font-size: 2rem;
    font-weight: 700;
    color: #ff8c00;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    gap: 12px;
}
.btn-back {
    background: #eee;
    padding: 8px 16px;
    border-radius: 6px;
    color: #444;
    font-weight: 600;
    text-decoration: none;
}
.btn-back:hover {
    background: #ff8c00;
    color: #ffffff;
}

.form-card {
    margin: auto;
    background: #fff;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.box {
    padding: 18px;
    margin-bottom: 18px;
}

.box-title {
    font-weight: 700;
    margin-bottom: 10px;
    color: #c86a12;
}

.box-body textarea,
.box-body select {
    width: 100%;
    font-family: "Times New Roman", serif;
    padding: 12px 14px;
    font-size: 0.9rem;
    border-radius: 10px;
    border: 1px solid #ddd;
    background: #fafafa;
    transition: border-color .2s, background .2s;
}

.auto-code-box {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #fff8e6;
    padding: 12px;
    border-radius: 8px;
    font-size: 14px;
    color: #e67e22;
    margin-bottom: 20px;
}

.btn-submit {
    font-family: "Times New Roman", serif;
    background: var(--primary-orange);
    color: white;
    padding: 10px 18px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    border: none;
    padding: 10px 18px;
    font-size: 14px;
}
.btn-submit:hover{
    color:white;
    background: black;
}

.btn-cancel {
    background: #eee;
    padding: 8px 16px;
    border-radius: 6px;
    color: #444;
    font-weight: 600;
    text-decoration: none;
}
.btn-cancel:hover{
    background: #ff8c00;
    color: #ffffff;
}
.form-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.code-box {
    background: #eef5ff;
    border-left: 5px solid #4a90e2;
    padding: 12px 15px;
    border-radius: 6px;
    margin-bottom: 20px;
    color: #2c6bb0;
    display: flex;
    align-items: center;
    gap: 10px;
}
